@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
}
.allArea {
  background: radial-gradient(
    circle,
    rgba(32, 72, 88, 1) 0%,
    rgba(30, 68, 84, 1) 16%,
    rgba(28, 63, 78, 1) 40%,
    rgba(25, 58, 72, 1) 57%,
    rgba(22, 52, 64, 1) 77%,
    rgba(19, 46, 57, 1) 100%
  );
}
.mainContent {
  /* width: 60%; */
  height: 80vh;
  border-radius: 40px;
  display: flex;
  box-shadow: 0px 0px 73px 2px rgba(56, 142, 139, 0.45);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainContent {
  /* width: 60%; */
  height: 80vh;
  border-radius: 40px;
  display: flex;
  box-shadow: 0px 0px 73px 2px rgba(56, 142, 139, 0.45);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.online {
  width: 20%;
  height: 98.5%;
  padding: 5px;
  border-right: 1px solid black;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  overflow: hidden;
}

hr {
  width: 100%;
  border-color: #173540;
  border-width: 1.45px;
}
.peopleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* People within the people container */
.personOnline {
  width: 80%;
  max-height: 45px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
}
.personOnline:hover {
  width: 85%;
  background-color: #6b941c;
}
.personOffline {
  width: 80%;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  margin: 10px 0;
  pointer-events: none;
  opacity: 0.75;
  color: #aad447;
}
/* Finish */

/* Full Chatroom Container */
.chatroom {
  height: 98.5%;
  padding: 5px;
}
/* Chatroom messages */
.chatContainer {
  height: 70%;
  margin: 8px;
  position: relative;
}
.chatMessage {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 5px;
  padding-left: 15px;
  border-radius: 30px;
  width: 100%;
  height: fit-content;
}
.myMessage {
  width: 25%;
  display: block;
  border-bottom-right-radius: 0;
  margin-left: 75%;
  color: black;
}
.replyMessage {
  width: 25%;
  display: block;
  border-bottom-left-radius: 0;
}
/* Send Messages */
.messageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 8px;
  position: relative;
  height: 30%;
}
#chatReply {
  width: 75%;
  height: 30px;
  padding: 2px;
  margin: 5px 0px 5px 8px;
  border-radius: 13px;
  color: black;
}
#chatReply:focus {
  width: 80%;
  border-radius: 0;
}
#sendMsg {
  width: 10%;
  min-width: 50px;
  height: 30px;
  text-align: center;
  padding: 0;
  padding-top: 5px;
}
#required {
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
  width: 60%;
  padding: 2px;
  text-align: center;
  border-radius: 20px;
}
/* End Chatroom Container */
/* Toast Container */
.toastContainer {
  visibility: hidden;
  position: fixed;
  left: 20px;
  bottom: 20px;
}
.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 200px;
  height: 10px;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0;
}
.close {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* End Toast Container */

/* Other Styles */
.material-symbols-outlined.md-36 {
  font-size: 36px;
}
